body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
}

.logo {
  position: absolute;
  top: 70px;
  right: 13px;
}

.map {
    height: 100%;
    width: 100%;
}

.app-container {
    height: 150px;
    padding: 10px 20px 0px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.gps {
    display: flex;
    height: 36px;
    border: 1px solid grey;
    border-radius: 6px;
    overflow: hidden;
    /* color: rgb(165, 160, 160); */
}

.hide {
    display: none !important;
}

.coordinates {
    width: 100%;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding: 8px;
}

#input {
    padding: 8px;
    width: 100%;
    color: grey;
    border: none;
    border-right: 1px solid grey;
    font-style: italic;
    font-size: 16px;
}

.btn {
    background-color: #f1f1f1;
    padding: 0px;
    width: 50px;
    color: grey;
    border: none;
    font-style: italic;
    font-size: 10px;
    flex-shrink: 0;
}

.dateBattery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.material-icons.date_range {
    line-height: 25px;
}

.date {
    flex-grow: 1;
    color: grey;
    display: flex;
    line-height: 25px;
    font-size: 14px;
}

#day {
    padding: 0 5px;
}

.battery {
    color: grey;
    display: flex;
    line-height: 25px;
    font-size: 14px;
}

.material-icons.md-50 {
    line-height: 25px;
}

.footer {
    /* border: 1px solid black; */
    font-size: 10px;
    font-style: italic;
    color: grey;
    text-align: center;
    width: 100%;
    height: 20px;
    position: fixed;
    left: 0; bottom: 0;
}