{
  "env": {
    "browser": true
  },
  "extends": ["eslint:recommended"],
  "globals": {
    "google": false
  },
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "single"]
  }
}